.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--lines-dark);
  padding: 12px 16px;
  /* width: 100%; */
  max-width: 598px;

  transition: .2s ease-out;
}

.post:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.post_avatar {
  margin-right: 12px;
}

.MuiAvatar-root {
  width: 47px !important;
  height: 47px !important;
}

.post_body {
  max-width: 506px;
  width: 100%;
}

.post_body > img {
  border-radius: 16px;
  border: solid 1px var(--lines-dark);
  width: 100%;
  object-fit: contain;
  margin-top: 12px;
  max-height: 504px;
  background-color: black;
  image-rendering: -webkit-optimize-contrast;
}

.post_headerText {
  display: flex;
  justify-content: flex-start;
}

.displayName {
  font-size: 15px;
  font-weight: 700;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.displayName:hover {
  text-decoration: underline;
}

.post_headerSpecial {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  color: var(--placeholder-color);
  margin-top: 2px;
}

.post_badge {
  font-size: 17px !important;
  margin-left: 3px;
  margin-right: 4px;
  color: white !important;
}

.post_headerDescription {
  overflow-wrap: anywhere;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  max-width: 425px;
}


/* COMENTS */
/* .post_comment {
  display: flex;
  padding: 12px 16px;

} */

@media (max-width: 415px) {
  .displayName {
    /* max-width: calc(30vw - 15px); */
    max-width: calc(30vw);
  }

  .post_headerSpecial {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: block;
  }

  .MuiAvatar-root {
    width: 40px !important;
    height: 40px !important;
  }
}