.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--lines-dark);
  padding: 12px 16px;
  width: 100%;
  max-width: 598px;
}

.post_avatar {
  margin-right: 12px;
}

.MuiAvatar-root {
  width: 47px !important;
  height: 47px !important;
}

.post_body {
  flex: 1;
  max-width: 506px;
}

.post_body > img {
  border-radius: 16px;
  border: solid 1px var(--lines-dark);
  width: 100%;
  object-fit: contain;
  margin-top: 12px;
}

.post_headerText {
  display: flex;
  justify-content: flex-start;
}

.post_headerText > h3 {
  font-size: 15px;
  font-weight: 700;
}

.post_headerSpecial {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  color: var(--placeholder-color);
}

.post_badge {
  font-size: 17px !important;
  margin-left: 3px;
  margin-right: 4px;
  color: white !important;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  max-width: 425px;
}