.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 7px;
}

.sidebarOption:hover {
  background-color: var(--twitter-dark-hover);
  border-radius: 30px;
  color: var(--twitter-dark); /* --twitter-color */
  transition: color 100ms ease-out;
}

.sidebarOption > svg {
  padding: 14px 16px;
}

.sidebarOption > h2 {
  font-size: 19px;
  font-weight: 700;
}

.sidebarOption--active {
  color: var(--twitter-dark);
}