.tweetBox {
  padding: 8px 16px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox_input {
  display: flex;
}

.tweetBox_Body {
  display: flex;
  flex-direction: column;
  width: 100%
}

.tweetBox_Body > input {
  /* flex: 1; */
  border: none;
  outline-style: none;
  padding: 12px 0;

  /* font-family: inherit; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  color: white;
  overflow-wrap: break-word;

  background-color: inherit;
  transition: .1s;
  border-bottom-color: var(--lines-dark);
}

.tweetBox_Body > input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.tweetBox_Body > input:-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder-color);
}

.tweetBox_Body > input::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholder-color);
}

.tweetBox_Body > input:-ms-input-placeholder {  
  color: var(--placeholder-color);
}

.tweetBox_divModal {
  background-color: var(--background-dark);
  border-radius: 16px;
  outline-style: unset;
  height: auto;
}

.tweetBox_divImageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 568px;
  padding: 0 16px;
}

.tweetBox_divImageInput > button:hover {
  background-color: var(--twitter-dark-hover);
}

.tweetBox_divImageInput > button > span > svg {
  color: var(--twitter-dark);
}

.tweetBox_divInput {
  display: flex;
  align-items: center;

  width: 510px;
  margin: 7px 0;
  padding: 1px;

  background-color: var(--widgets-input-background);
  border-radius: 9999px;
  border: none;
}

.tweetBox_divInput > svg {
  margin-left: 21px;
}

.tweetBox_divInput > input {
  height: 37px;
  border: none;
  padding: 0 20px;
  outline-style: unset;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  flex: 1;
}

.tweetBox_divShowGIF {
  display: flex;
  justify-content: center;
  height: auto;
}

.tweetBox_Gif {
  border-radius: 16px;
  border: solid 1px var(--lines-dark);
  max-width: 508px;
  object-fit: contain;
  margin: 12px 0;
  max-height: 504px;
  background-color: black;
}

.tweetBox_tweetButton {
  background-color: var(--twitter-dark) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  
  border: none !important;
  border-radius: 30px !important;
  width: 88px !important;
  height: 40px !important;

  margin-left: auto !important;
}

.disabled {
  opacity: .5;
}

.tweetBox_btnGif {
  background: none;
  border: none;
  outline-style: none;
}

.tweetBox_btnGif .tweetBox_twitterIcon {
  cursor: pointer !important;
}

.tweetBox_twitterIcon {
  padding: 7px 8px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: default;
}

.tweetBox_twitterIcon:hover {
  background-color: var(--twitter-dark-hover);
}

.tweetBox_Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

/* focus-within */
.tweetBox_divInput:focus-within {
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--twitter-dark);
  outline-style: unset;
}

.tweetBox_divInput:focus-within > svg {
  color: var(--twitter-dark) !important;
}

.tweetBox_divInput:focus-within > input {
  background-color: transparent;
}

/* FOCUS */
.tweetBox_Body > input:focus-within {
  padding-bottom: 58px;
  border-bottom: 1px solid var(--lines-dark);
}

/* placeholder */
.tweetBox_divInput > input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.tweetBox_divInput > input:-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder-color);
}

.tweetBox_divInput > input::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholder-color);
}

.tweetBox_divInput > input:-ms-input-placeholder {  
  color: var(--placeholder-color);
}

@media (max-width: 415px) {
  #tweetBox_inputPost {
    font-size: 18px;
  }

  .tweetBox_Footer {
    display: block;
    direction: rtl;
  }

  .tweetBox_divIcons {
    display: flex;
  }

  /* MODAL */
  .tweetBox_divModal {
    max-width: 90vw;
  }

  .tweetBox_divImageInput {
    width: auto;
    padding: 0 12px;
  }

  .tweetBox_divInput > svg {
    margin-left: 14px;
    margin-right: 8px;
  }

  .tweetBox_divInput > input {
    padding: 0;
    padding-right: 15px;
  }

  /* IMG MODAL */
  .tweetBox_Gif {
    max-width: 83vw;
  }

}