.tweetBox {
  padding: 8px 16px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox_input {
  display: flex;
}

.tweetBox_Body {
  display: flex;
  flex-direction: column;
  width: 100%
}

.tweetBox_Body > input {
  /* flex: 1; */
  border: none;
  outline-style: none;
  padding: 12px 0;

  font-family: inherit;
  font-size: 19px;
  font-weight: 400;
  color: white;
  overflow-wrap: break-word;

  background-color: inherit;
}

.tweetBox_Body > input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.tweetBox_Body > input:-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder-color);
}

.tweetBox_Body > input::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholder-color);
}

.tweetBox_Body > input:-ms-input-placeholder {  
  color: var(--placeholder-color);
}

.tweetBox_divImageInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: var(--background-dark);
  outline-style: unset;
  border-radius: 16px;
}

.tweetBox_divInput {
  display: flex;
  align-items: center;

  width: 510px;
  margin: 8px 0;

  background-color: var(--widgets-input-background);
  border-radius: 9999px;
  border: none;
}

.tweetBox_searchIcon {
  margin-left: 22px;
}

.tweetBox_divInput > input {
  height: 37px;
  border: none;
  padding: 0 20px;
  outline-style: unset;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
}

.tweetBox_tweetButton {
  background-color: var(--twitter-dark) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  
  border: none !important;
  border-radius: 30px !important;
  width: 88px !important;
  height: 40px !important;

  margin-left: auto !important;
}

.tweetBox_btnGif {
  background: none;
  border: none;
  outline-style: none;
}

.tweetBox_btnGif .tweetBox_twitterIcon {
  cursor: pointer !important;
}

.tweetBox_twitterIcon {
  padding: 7px 8px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: default;
}

.tweetBox_twitterIcon:hover {
  background-color: var(--twitter-dark-hover);
}

.tweetBox_Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

/* focus-within */
.tweetBox_divInput:focus-within {
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--twitter-dark);
  outline-style: unset;
}

.tweetBox_divInput:focus-within > svg {
  color: var(--twitter-dark) !important;
}

.tweetBox_divInput:focus-within > input {
  background-color: transparent;
}

/* FOCUS */
.tweetBox_Body > input:focus-within {
  padding-bottom: 58px;
  border-bottom: 1px solid var(--lines-dark);
}

/* placeholder */
.tweetBox_divInput > input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.tweetBox_divInput > input:-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder-color);
}

.tweetBox_divInput > input::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholder-color);
}

.tweetBox_divInput > input:-ms-input-placeholder {  
  color: var(--placeholder-color);
}