.sidebar {
  /* border-right: 1px solid var(--lines-dark); */
  margin-top: 1px;
  padding-left: 12px;
  padding-right: 12px;

  width: 100%;
  max-width: 251px;

  /* flex: 0.3; */
}

.sidebar__twitterIcon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 7px;
  transition: 0.2s;
  border-radius: 50%;
}

.sidebar__twitterIcon:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.sidebar__tweet {
  background-color: var(--twitter-dark) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: inherit !important;

  width: 100% !important;
  max-width: 225px !important;
  
  border: none !important;
  border-radius: 30px !important;
  height: 48px !important;

  display: flex !important;
  margin: 20px auto !important;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
}

/* MEDIA QUERY */ 
@media (min-width: 1281px) {
  .sidebar__tweet > span > svg {
    display: none;
  }
}

@media (max-width: 1280px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sidebar > a:first-child {
    margin-right: 10px;
  }

  .sidebar > button {
    margin: 20px 9px 20px 0!important;
  }

  .sidebar__twitterIcon {
    margin-left: 0;
  }

  .sidebar__tweet {
    width: 49px !important;
    min-width: auto !important;
    border-radius: 50% !important;
  }

  .sidebar__tweet > span > p {
    display: none;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    padding-left: 0px;
    padding-right: 0px;
    width: auto !important;
  }
}

@media (max-width: 1004px) {
  .sidebar {
    padding-left: 12px;
    padding-right: 12px;
  }
}